# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model weights / large binaries
*.pt
*.pth
*.h5

# Environment variables
.env

# Logs
*.log
